name: Build Fedora 43
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  build:
    name: Build Fedora 43
    runs-on: ubuntu-latest
    container: fedora:43

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Dependencies
        run: |
          dnf -y install \
            cmake \
            glib2-devel \
            qt6-qtbase-devel \
            qt6-qtbase-private-devel \
            qt6-qtdeclarative-devel \
            qt6-qtdeclarative-private-devel \
            qt6-qtshadertools-devel \
            spirv-tools \
            spirv-tools-devel \
            pkg-config \
            cli11-devel \
            qt6-qtwayland-devel \
            qt6-qtsvg-devel \
            ninja \
            jemalloc-devel \
            wayland-devel wayland-protocols-devel \
            libdrm-devel mesa-libgbm-devel \
            libxcb-devel \
            pipewire-devel \
            pam-devel \
            polkit-devel \
            which
          dnf clean all

      - name: Build
        run: |
          cmake -GNinja -B build \
            -DDISTRIBUTOR=github \
            -DCRASH_REPORTER=OFF
          cmake --build build

      - name: Rename binary
        run: mv build/src/quickshell build/src/quickshell-${{ inputs.tag }}-fedora43

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: build/src/quickshell-${{ inputs.tag }}-fedora43
          name: quickshell-${{ inputs.tag }}-fedora43
          retention-days: 7
