name: Build Fedora
on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    name: Build Fedora ${{ matrix.fedora }}
    runs-on: ubuntu-latest
    container: fedora:${{ matrix.fedora }}

    strategy:
      matrix:
        fedora: [42, 43]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Dependencies
        run: |
          dnf -y install \
            cmake \
            qt6-qtbase-devel \
            qt6-qtbase-private-devel \
            qt6-qtdeclarative-devel \
            qt6-qtdeclarative-private-devel \
            qt6-qtshadertools-devel \
            spirv-tools \
            spirv-tools-devel \
            pkg-config \
            cli11-devel \
            qt6-qtwayland-devel \
            qt6-qtsvg-devel \
            ninja \
            jemalloc-devel \
            wayland-devel wayland-protocols-devel \
            libdrm-devel mesa-libgbm-devel \
            libxcb-devel \
            pipewire-devel \
            pam-devel \
            which
          dnf clean all

      - name: Build
        run: |
          cmake -GNinja -B build \
            -DDISTRIBUTOR=github \
            -DCRASH_REPORTER=OFF
          cmake --build build

      - name: Rename binary
        run: mv build/src/quickshell build/src/quickshell-${{ github.ref_name }}-fedora${{ matrix.fedora }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: build/src/quickshell-${{ github.ref_name }}-fedora${{ matrix.fedora }}
          name: quickshell-${{ github.ref_name }}-fedora${{ matrix.fedora }}
          retention-days: 7

  release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: "quickshell ${{ github.ref_name }}"
          body: |
            **quickshell ${{ github.ref_name }} (fork)** - automatically built by GitHub Actions for Fedora

            **Download the binaries directly:**:
            - [quickshell (Fedora 42)](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/quickshell-${{ github.ref_name }}-fedora42)
            - [quickshell (Fedora 43)](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/quickshell-${{ github.ref_name }}-fedora43)

            This repository is a fork created by @karboggy for Fedora.
            **Please check the official [quickshell](https://github.com/quickshell-mirror/quickshell/releases) project for more information**  
          files: artifacts/**/quickshell-${{ github.ref_name }}-fedora*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
