name: Release Fedora

on:
  push:
    tags:
      - '*'

jobs:
  build_42:
    name: Build Fedora 42
    uses: ./.github/workflows/build-fedora-42.yml
    with:
      tag: ${{ github.ref_name }}

  build_43:
    name: Build Fedora 43
    uses: ./.github/workflows/build-fedora-43.yml
    with:
      tag: ${{ github.ref_name }}

  github_release:
    name: GitHub Release
    runs-on: ubuntu-latest
    needs: [build_42, build_43]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download Fedora 42 artifact
        uses: actions/download-artifact@v4
        with:
          name: quickshell-${{ github.ref_name }}-fedora42
          path: artifacts/fedora42

      - name: Download Fedora 43 artifact
        uses: actions/download-artifact@v4
        with:
          name: quickshell-${{ github.ref_name }}-fedora43
          path: artifacts/fedora43

      - name: GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
          name: "quickshell ${{ github.ref_name }}"
          body: |
            **quickshell ${{ github.ref_name }} (fork)** - automatically built by GitHub Actions for Fedora

            **Download the binaries directly:**:
            - [quickshell (Fedora 42)](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/quickshell-${{ github.ref_name }}-fedora42)
            - [quickshell (Fedora 43)](https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/quickshell-${{ github.ref_name }}-fedora43)

            This repository is a fork created by @karboggy for Fedora.
            **Please check the official [quickshell](https://github.com/quickshell-mirror/quickshell/releases) project for more information**  
          files: artifacts/**/quickshell-${{ github.ref_name }}-fedora*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

